<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content=" minimum-scale=1.0, maximum-scale=1.0, width=device-width; user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %} - DigitalkaoZ</title>

    {% block includes %}
        {% stylesheets
        '@MopaBootstrapBundle/Resources/public/bootstrap/less/bootstrap.less'
        'less/main.less'
        filter="less, ?yui_css"
        output="css/styles_combined.css" %}

        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
    {% endblock %}
</head>
<body>
<div class="container">

    <div class="row">
        {# top line #}
        <div class="pull-left sr-only col-md-12">
            <a href="#content" title="Go to main content">Skip to content</a>
            <a href="#navigation" title="go to navigation">Skip to navigation</a>
        </div>
        <div class="col-md-12">
            <div class="pull-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>
        </div>

        {# header #}
        <div class="page-header col-md-12">
            <h1><a href="{{ path('home') }}">digitalkaoz.net</a> <small>webdevelopment & me</small></h1>
            <div class="pull-right search">
                {{ render(url('liip_searchbox')~'?query='~app.request.get('query'), {'_locale': app.request.locale}) }}
            </div>
        </div>

        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                {{ knp_menu_render('main', {'template' : '::main_menu.html.twig', 'depth': 1}) }}
            </div>
        </nav>
    </div>

    <div class="row">
        <nav class="col-md-3" id="navigation">
            {% block sidebar %}
                {# navigation #}
                {% set menu = knp_menu_get('main') %}
                {% set topmenuitem = admin_menu_top(menu) %}
                {% if topmenuitem %}
                    {{ knp_menu_render([menu, topmenuitem.name], { 'template': '::side_menu.html.twig'}) }}
                {% endif %}
            {% endblock %}
        </nav>

        <div class="col-md-9" id="content">
            {# content #}
            {% block content %}
            {% endblock %}
        </div>

        <hr/>
        <footer class="col-md-12">
            {{ knp_menu_render('footer') }}<span class="pull-right">&copy; {{'now'|date('Y')}} - Robert Schönthal</span>
        </footer>
    </div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

{% javascripts
    '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.js'
    'js/scripts.js'
    filter="?yui_js"
    output="js/scripts_combined.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% render controller("cmf_create.jsloader.controller:includeJSFilesAction", {'_locale': app.request.locale}) %}

</body>
</html>
