<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@digitalkaoz">
    <meta name="twitter:creator" content="@digitalkaoz">
    <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_desc %}{% endblock %}">

    <title>{% block title %}{% endblock %} - DigitalkaoZ</title>

    {% include '::_stylesheets.html.twig' %}
    {% block includes %}
    {% endblock %}
</head>

<body>
    <div id="wrap">
        <div class="container">
            {% include '::_header.html.twig' %}

            {% block page_content %}
            {% endblock %}
        </div>
    </div>

    <footer>
        <div class="container">
            {{ knp_menu_render('footer') }}
            <p class="pull-right">&copy; {{ 'now'|date('Y') }} - Robert Schönthal</p>
            <div class="shares">
                {% for name, url in sharer(app.request.uri, cmfMainContent.title|striptags, ['twitter', 'gplus', 'facebook']) %}
                    <a href="{{ url }}" class="{{ name }}" target="_blank" data-title="{{ name }}"></a>
                {% endfor %}
                {#<a href="#" target="_blank" class="rss"></a>#}
            </div>

        </div>
    </footer>

    {% include '::_javascripts.html.twig' %}

</body>

</html>
