{% extends sonata_block.templates.block_base %}

{% if block.filter %}
    {% set filter = block.filter %}
{% else %}
    {% set filter = "cmf_block" %}
{% endif %}

{% block block %}

    {% set inStage = block.parentDocument.name == "Slider" %}
    {% if block.linkUrl is defined and block.linkUrl != '' %}
        <a href="{{ url(block.linkUrl) }}" title="{{ block.label|default('') }}">
    {% endif %}
        {% if not inStage %}<span id="label">{{ block.label }}</span>{% endif %}
        <img src="{{ block.image.id | imagine_filter(filter) }}" alt="{{ block.label }}" class="{% if inStage %}stage-{% endif %}image" />
    {% if block.linkUrl is defined %}
        </a>
    {% endif %}
{% endblock %}
