{% extends "::base2col.html.twig" %}

{% block title %} {{ project.name }} - Projects {% endblock %}

{% block body %}

    <div class="row">
        
        {% if project.logo %}
            <img src="{{ project.logo}}" alt="{{ project.name }}" title="{{ project.name }}" class="span2"/>
        {% else %}
            <div class="span2"></div>
        {% endif %}
         
        <div class="span10 offset2">
            <h2>{{ project.name|e }}</h2>
        </div>

        <div class="span12">
            <p>{{ project.description|raw }}</p>
        </div>
            
        <div id="disqus_thread" class="span10">
            {{ knp_disqus_render('projects', {'identifier': project.slug, 'limit': 100}) }}
        </div>
    </div>
{% endblock %}