<div>
    <a href="{{ path('project', { 'slug': project.slug }) }}">
        {% if project.logo %}
            <img src="{{ project.logo}}" alt="{{ project.name }}" title="{{ project.name }}" width="50"/>
        {% endif %}
        <strong>{{ project.name|e }}</strong>
    </a>

    <p>{{ project.description }}</p>

</div>