<div class="row">
    <div class="span8">
        <a href="{{ path('post', { 'slug': post.slug }) }}">
            {% if post.logo %}
                <img src="{{ post.logo}}" alt="{{ post.title }}" title="{{ post.title }}" width="50"/>
            {% endif %}
            <strong>{{ post.title|e }}</strong>
        </a>
    </div>

    <div class="span12">
        {% if full %}
                <p>{{ post.text|raw }}</p>
        {% else %}
            <p>{{ post.abstract|raw }}</p>
        {% endif %}
    </div>
</div>
