<div class="sensio profile">
  <span class="name"><a href="{{ profile.url }}" title="{{ profile.displayName }}"><img src="{{ asset('/img/logo_symfony.png') }}" width="30" alt="{{ profile.displayName }}" />{{ profile.displayName }}</a></span>
</div>