{% set default_value %}
{%trans from translationDomain %}search{% endtrans %}
{% endset %}

<form class="navbar-form navbar-right" role="form" action="{{ searchRoute }}">
    <div class="form-group">
        <label class="sr-only" for="{{ field_id|default('query') }}">{% trans from translationDomain %}Search this site{% endtrans %}</label>
        <input type="text" class="form-control" placeholder="{% trans from translationDomain %}Search this site{% endtrans %}" id="{{ field_id|default('query') }}" name="{{ query_param_name }}" value="{{ searchTerm }}" />
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</form>
