<div class="row">
    <div class="span12">
        {% if elements %}
            <h3>{{ section|e }}</h3>

            <ul>
                {% for element in elements %}
                    <li>
                        {% if element.url %}
                            <a href="{{ element.url }}" target="_blank"><strong>{{ element.name|e }}</strong></a>
                        {% else %}
                            <strong>{{ element.name|e }}</strong>
                        {% endif %}
                        {% if element.level %}
                            <b>{{ element.level }}</b>    
                        {% endif %}
                        {% if element.period %}
                            <b>{{ element.period }}</b>    
                        {% endif %}
                    </li>
                {% endfor %}        
            </ul>
        {% endif %}
    </div>
</div>