{% extends "::base.html.twig" %}

{% block body %}

    <h2>Networks</h2>

    {% if networks %}
        <ul>
          {% for network in networks %}
            <li>
                {% if network.logo %}
                    <img src="{{ network.logo }}" width="50" alt="{{network.name}}" title="{{network.name}}" />
                {% endif %}
                <a href="{{ network.url }}" target="_blank"><strong>{{ network.name|e }}</strong></a>
                <p>{{ network.description }}</p>
            </li>
          {% endfor %}
        </ul>
    {% endif %}

{% endblock %}