<div class="span12">
    
    <b>{{result.getType|capitalize}} ({{ "%d"|format(result.getScore * 100)}} %)</b>

    {% if result.getType == 'github' %}}
        <a href="{{ result.__get('url') }}" target="blank">{{ result.__get('name') }}</a>
    {% else %}
        <a href="{{ path(result.getType, { 'slug': result.__get('slug') }) }}">{{ result.__get('title') ?  result.__get('title') : result.__get('name')}}</a>
    {% endif %}
</div>
