{% if networks %}
    <div class="alert-message block-message info">    
        <h3>Networks</h3>
        <ul class="unstyled">
          {% for network in networks %}
                <li>
                    <a href="{{ network.url }}" target="_blank">
                        {% if network.logo %}
                            <img src="{{ network.logo}}" alt="{{ network.name }}" title="{{ network.name }}" width="40"/>
                        {% endif %}
                        <span>{{ network.description }}</span>
                    </a>
                </li>
          {% endfor %}
        </ul>                
    </div>
{% endif %}

<div class="alert-message block-message info">
    <h3>Sensio Badges</h3>
    {% render 'BlageConnectBundle:Connect:ownSensioProfile' with {}, {'standalone': true} %}

    {% render 'BlageConnectBundle:Connect:ownSensioBadge' with {}, {'standalone': true} %}
</div>

{% if repos %}
    <div class="alert-message block-message info">    
        <h3>Github Projects</h3>
        <ul class="unstyled">
          {% for repo in repos %}
                <li>
                    <a href="{{ repo.url }}" target="blank">
                        <strong>{{ repo.name|e }}</strong>
                    </a>
                </li>
          {% endfor %}
        </ul>                
    </div>
{% endif %}