{% if networks %}
    <div class="">
        <h3>Networks</h3>
        <ul class="unstyled">
          {% for network in networks %}
                <li>
                    <a href="{{ network.url }}" target="_blank">
                        {% if network.logo %}
                            <img src="{{ network.logo}}" alt="{{ network.name }}" title="{{ network.name }}" width="40"/>
                        {% endif %}
                        <span>{{ network.description }}</span>
                    </a>
                </li>
          {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="">
    <h3>Sensio Badges</h3>
    {#{{ render(controller('BlageConnectBundle:Connect:ownSensioProfile'), {'strategy': 'esi'}) }}#}

    {#{{ render(controller('BlageConnectBundle:Connect:ownSensioBadge'), {'strategy': 'esi'}) }}#}
</div>

{% if repos %}
    <div class="">
        <h3>Github <span><a href="https://github.com/digitalkaoz" target="_blank">Profile</a></span></h3>

        <ul class="unstyled">
          {% for repo in repos %}
                <li>
                    <a href="{{ repo.html_url }}" target="blank">
                        <strong>{{ repo.name|e }}</strong>
                    </a>
                </li>
          {% endfor %}
        </ul>                
    </div>
{% endif %}